@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.App {
  margin-top: 1rem;
  min-height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Panel */
.dragwrapper {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0 1rem;
  width: 100%;
}

.layout-cards {
  border: 2px solid #fff;
  border-radius: 5px;
  transition: all 0.3s linear;
}

.layout-cards > p {
  border-radius: 5px;
  text-align: center;
  padding: 1rem 0;
  font-weight: bold;
  text-transform: capitalize;
}

.layout-dragging {
  border: 2px dashed #ffffff8c;
}

/* SINGLE CARD */
.card-container {
  margin: 1rem 1rem 0 1rem;
  border: 1px solid #e4dfdf;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 1px 4px -3px;
  padding: 1rem;
  cursor: pointer;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-container > p {
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .dragwrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .layout-cards {
    overflow-y: scroll;
    height: 250px;
    min-height: 150px;
    max-height: 250px;
  }
}
